language: node_js

node_js:
  - '9'

cache:
  directories:
    - node_modules

script:
  - npm run build

after_script:
  - cd dist
  - git init
  - git config user.name 'zhuweiyou'
  - git config user.email 'i@zhuweiyou.com'
  - git add .
  - git commit -m 'auto deploy'
  - git push https://${GH_TOKEN}@github.com/fpass/fpass.github.io.git master -f

branches:
  only:
    - /^v[0-9]/
